@import "bs-override";



@media (max-width: 576px) {
    .carousel-inner .carousel-item > div {
        display: none;
        
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
        
        
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 577px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.cs-container_fluid {
    @include make-container(5%)
}

.cs-container_narrow {
    @include make-container(50%)
}
.cs-container_superNarrow {
    @include make-container(60%);
}